name: Sync Docs
on:
  workflow_dispatch:
    inputs: {}
  repository_dispatch:
    types: [DOCS_UPDATED]

permissions:
  contents: write
  pull-requests: write

jobs:
  submodule-sync:
    name: Submodule Sync
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - name: Submodule Sync
        uses: mheap/submodule-sync-action@v1
        with:
          token: ${{ secrets.PAT }}
          path: docs.konghq.com
          ref: main
          pr_branch: automated-docs-update
          base_branch: main
          target_branch: main
